---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="blog" description="hello" />
  </head>
  <body>
    <Header />
    <main>
      <header><h1 class="name">= Blog =</h1></header>
      <section class="showcase">
        <ul class="boxes">
          {
            posts.reverse().map((post) => (
              <li class="box">
                <a href={`/blog/${post.slug}/`}>
                  <time datetime={post.data.pubDate.toISOString()}>
                    {post.data.pubDate.toLocaleDateString("en-us", {
                      year: "2-digit",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                  <h3 class="title boxTextColor">{post.data.title}</h3>
                  <p class="p boxTextColor">{post.data.description}</p>
                  <div class="tags-boxes">
                    {post.data.tags.map((tag) => (
                      <div class="tag-box">
                        <p class="tags">{tag}</p>
                      </div>
                    ))}
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>

    <Footer />
  </body>
</html>
