---
import { links } from "../data/consts";
---

<nav id="socials" class="socials">
    <a class="icon1" href={links.twitch.url} target="_blank" rel="noopener noreferrer">
        <img src={links.twitch.icon} alt="twitch" width="20" />
    </a>
    <a class="icon1" href={links.tumblr.url} target="_blank" rel="noopener noreferrer">
        <img src={links.tumblr.icon} alt="tumblr" width="20" />
    </a>
    <a class="icon1" href={links.twitter.url} target="_blank" rel="noopener noreferrer">
        <img src={links.twitter.icon} alt="twitter" width="20" />
    </a>
    <a class="icon1" href={links.youtube.url} target="_blank" rel="noopener noreferrer">
        <img src={links.youtube.icon} alt="youtube" width="20" />
        
    </a>
    <a class="icon1" href={links.tiktok.url} target="_blank" rel="noopener noreferrer">
        <img src={links.tiktok.icon} alt="tiktok" width="20" />
    </a>
    <a class="icon1" href={links.insta.url} target="_blank" rel="noopener noreferrer">
        <img src={links.insta.icon} alt="instagram" width="20" />
    </a>
</nav>