---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, projectURL, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			hr {
				border-top: 1px solid #a3b18a;
				margin: 1rem 0;
			}
			a {
				text-decoration: #a3b18a underline;
			}
			.project-site {
				display: flex;
				align-items: center;
				margin: 5px;
			}
			.project-site div {
				margin: 5px;
			}
		</style>
	</head>

	<body>
		<main>
			<Header />
			<article>
				<h1 class="contentTitle">{title}</h1>

				<div class="project-site">
					{
						pubDate && (
							<p class="date">
								{pubDate.toLocaleDateString("en-US")}
							</p>
						)
					}
					{
						updatedDate && (
							<div>
								Last updated on <time>{updatedDate}</time>
							</div>
						)
					}
					<div>
						<a
							href={projectURL}
							target="_blank"
							rel="noopener noreferrer"
						>
							<h4>view site</h4>
						</a>
					</div>
				</div>

				<hr />
				<slot />
			</article>
			<Footer />
		</main>
	</body>
</html>
