---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
const posts = await getCollection("projects");
const project1 = posts[4];
const project2 = posts[0];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      Header {
        margin-bottom: 3em;
      }
      main {
        margin-bottom: 13px;
      }
      h1 {
        margin-bottom: 1px;
      }
      p {
        line-height: 1.39rem;
      }
      a {
        position: relative;
        color: #594d40;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F4F7YBFSTK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F4F7YBFSTK");
    </script>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="title">Hello, I'm Samar!</h1>

      <br />

      <p>Hey there!👋 I'm a fullstack engineer and developer advocate</p>

      <p>
        I am a dedicated team player with a keen eye for detail and exceptional
        organizational skills. My strong interpersonal communication and
        problem-solving abilities make me a standout candidate for any project.
        I have a robust technical skill set that includes ReactJS, Javascript, &
        Node making me well-equipped to tackle full-stack development challenges.
        Whether it's developing innovative web applications or advocating for 
        cutting-edge technologies, I am committed to contributing my skills and 
        expertise to make a meaningful impact.
      </p>

      <p>
        Some stuff I've been up to lately: freelancing, spending time with my new kitten, 
        helping my friend plan her wedding, drinking boba, and exercising.
      </p>

      <h1 class="title">Projects</h1>
      <p>
        A showcase of two of my favorite projects &#9660;
      </p>
      <section>
        <ul class="boxes">
          <li class="project-box">
            <a class="a-project" href={`${project1.data.projectURL}`} target="_blank" rel="noopener noreferrer">
              <h2 class="title-projects">{project1.data.title}</h2>
              <p class="project-description">{project1.data.description}</p>
              <div class="tags-boxes">
                {
                  project1.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))
                }
              </div>
            </a>
          </li>

          <li class="project-box">
            <a class="a-project" href={`${project2.data.projectURL}`}>
              <h2 class="title-projects">{project2.data.title}</h2>
              <p class="project-description">{project2.data.description}</p>
              <div class="tags-boxes">
                {
                  project2.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))
                }
              </div>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
