---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
const posts = await getCollection("projects");
const blog = await getCollection("blog");
const project1 = posts[4];
const project2 = posts[0];
const project3 = blog[0];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      Header {
        margin-bottom: 3em;
      }
      main {
        margin-bottom: 13px;
      }
      h1 {
        margin-bottom: 1px;
      }
      p {
        line-height: 1.39rem;
      }
      a {
        position: relative;
        color: #594d40;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F4F7YBFSTK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-F4F7YBFSTK");
    </script>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="title">Hello, I'm Samar!</h1>

      <br />

      <p>
        Welcome to my portfolio! I am a versatile full-stack developer with a passion for crafting engaging digital experiences. I specialize in React.js, Astro, and Next.js. My journey into the world of web development began with a fascination for creating aesthetically pleasing and functional interfaces.
      </p>

      <p>
        In addition to my development skills, I bring a keen eye for design and accessibility to the table. I'm well-versed in UI/UX design principles and content design, utilizing tools like Figma to bring ideas to life while ensuring inclusivity and usability for all users.
      </p>

      <p>
        Beyond technical expertise, I thrive in leadership roles, adept at leading projects and fostering collaborative environments. Whether it's guiding a team through a complex development task or hosting events to share knowledge and inspire others, I take pride in facilitating growth and success.
      </p>

      <p>
        Currently, I'm on the lookout for opportunities where I can leverage my diverse skill set to create impactful digital solutions. If you're seeking a passionate developer with a blend of technical prowess, design sensibility, and leadership acumen, I'd love to connect and explore how we can work together to bring your vision to life.
      </p>

      <p>
        Let's build something remarkable together!
      </p>

      <h2>Featured Work</h2>

      <section>
        <ul class="boxes-home">
          <li class="project-box">
            <a
              class="a-project"
              href={`${project1.data.projectURL}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="title-projects"><h3>{project1.data.title}</h3></div>
              <div>
                <p class="project-description">{project1.data.description}</p>
              </div>
              <div class="tags-boxes">
                {
                  project1.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))
                }
              </div>
            </a>
          </li>

          <li class="project-box">
            <a
              class="a-project"
              href={`${project2.data.projectURL}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="title-projects"><h3>{project2.data.title}</h3></div>
              <div>
                <p class="project-description">{project2.data.description}</p>
              </div>
              <div class="tags-boxes">
                {
                  project2.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))
                }
              </div>
            </a>
          </li>

          <li class="project-box">
            <a
              class="a-project"
              href="https://www.courier.com/blog/intro-to-your-courier-cheerleading-catalyst/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="title-projects"><h3>{project3.data.title}</h3></div>
              <div>
                <p class="project-description">{project3.data.description}</p>
              </div>
              <div class="tags-boxes">
                {
                  project3.data.tags.map((tag) => (
                    <div class="tag-box">
                      <p class="tags">{tag}</p>
                    </div>
                  ))
                }
              </div>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
